<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>User</title>


<body>
    <header>
        <a href="/users">Users</a>
    </header>
    <img src="https://randomuser.me/api/portraits/men/51.jpg">
    <div>
        <b>Mr Paul Rousseau</b>
        <div>France</div>
        <div>Saint-Denis 36125</div>
        <div>969 Rue Saint-Georges</div>
    </div>
            
</body>
</html>