 <!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Users</title>


<body>
    <h1>Users</h1>
    <div class="filter">
        <h3>
            <span class="material-icons">
                flag
            </span>
            Country
        </h3>
        <ul class="chips">
    
                
                    <li onclick="selectCountry('Australia')">
                        Australia
                    </li>
                
            
                
                    <li onclick="selectCountry('Canada')">
                        Canada
                    </li>
                
            
                
                    <li class="selected" onclick="selectCountry('France')">
                        France
                    </li>
                
            
                
                    <li onclick="selectCountry('Ireland')">
                        Ireland
                    </li>
                
            
                
                    <li onclick="selectCountry('Netherlands')">
                        Netherlands
                    </li>
                
            
                
                    <li onclick="selectCountry('Switzerland')">
                        Switzerland
                    </li>
                
            
                
                    <li onclick="selectCountry('Turkey')">
                        Turkey
                    </li>
                
            
                
                    <li onclick="selectCountry('United Kingdom')">
                        United Kingdom
                    </li>
                
            
                
                    <li onclick="selectCountry('United States')">
                        United States
                    </li>
                
            
        </ul>
    </div>
    <div class="filter">
        <h3>
            <span class="material-icons">
                escalator_warning
            </span>
            Age group
        </h3>
    <ul class="chips">
         
             
                <li onclick="selectAgeGroup('20-39')">
                    20-39
                </li>
          
        
             
                <li class="selected" onclick="selectAgeGroup('40-59')">
                    40-59
                </li>
             
        
             
                <li onclick="selectAgeGroup('60-79')">
                    60-79
                </li>
          
        
    </ul>
    </div>
    <ul class="data-list">
        
            <li>
                <img src="https://randomuser.me/api/portraits/thumb/men/51.jpg">
                <div>
                    <b>Mr Paul Rousseau</b>
                    <div>France</div>
                    <div>Age: 54 </div>
                </div>
                <div>
                    <a href="/users/1NNaN29472446 03">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </li>
            
            <li>
                <img src="https://randomuser.me/api/portraits/thumb/women/25.jpg">
                <div>
                    <b>Ms Alexia Guillaume</b>
                    <div>France</div>
                    <div>Age: 55 </div>
                </div>
                <div>
                    <a href="/users/2NNaN41741522 57">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </li>
            
            <li>
                <img src="https://randomuser.me/api/portraits/thumb/women/23.jpg">
                <div>
                    <b>Mrs Capucine Leclercq</b>
                    <div>France</div>
                    <div>Age: 44 </div>
                </div>
                <div>
                    <a href="/users/2NNaN72928155 14">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </div>
            </li>
            
    </ul>
    <script>

        let selectedAgeGroup = '40-59';
        let selectedCountry = 'France';

        function selectAgeGroup(ageGroup) {
            if (ageGroup === selectedAgeGroup) {
                selectedAgeGroup = '';
            } else {
                selectedAgeGroup = ageGroup;
            }
            reload();
        }

         function selectCountry(country) {
            if (country === selectedCountry) {
                selectedCountry = '';
            } else {
                selectedCountry = country;
            }
            reload();
        }

        function reload() {
            console.log(selectedCountry, selectedAgeGroup)
            let href = '/users';
            if (selectedCountry || selectedAgeGroup) {
                href += '?';
                if (selectedCountry) {
                   href += 'country=' + selectedCountry;
                }
                 if (selectedCountry && selectedAgeGroup) {
                    href += '&';
                 }
                 if (selectedAgeGroup) {
                   href += 'ageGroup=' + selectedAgeGroup;
                }
            }
            location.href = href;
        }


    </script>



</body></html>